.nav_menu {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: transparent;
  position: fixed;
  z-index: 5;
  width: 100%;
  color: white;
  font-size: 22px;
  transition: all 0.5s;
}

.nav_black {
  background: white;
  color: black;
  height: 35px;
  font-size: 15px;
}
